<head>
        <link href="https://fonts.googleapis.com/css?family=Aclonica|Cutive+Mono|Emilys+Candy|Original+Surfer|Pompiere|Shadows+Into+Light+Two&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-light sticky" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="/">
                <span class="open-nav"style="font-family: 'Pompiere', cursive; 'Clicker Script', cursive; letter-spacing: 2px; font-weight: 50; font-size: 35px;" >Aberdare Movers</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                More
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="">BLOGS  |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="">QUIZ  |</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              LEVEL  |
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="">Basic</a>
                              <a class="dropdown-item" href="">Intermediate</a>
                              <a class="dropdown-item" href="">Advanced</a>
                            </div>
                          </li>
                    
                   
                </ul>
            </div>
        </div>
    </nav>
    